{% extends '::base.html.twig' %}

{% block body %}

  {% set flashBag = app.session.flashbag.all() -%}
  {% if flashBag|length > 0 -%}
    <div id="notifications" class="notifications">
      {%- for type, flashMessages in flashBag -%}{%- for flashMessage in flashMessages %}

        <div class="alert alert-{{ type }}">
          {{- flashMessage -}}
        </div>
      {%- endfor %}{% endfor %}

    </div>

  {% endif -%}


  <h2>Hello {{ name }}!</h2>

{% if products|length > 0 %}
  <ul>
  {% for product in products %}
    <li>
      {{ product.nodename }} <a href="{{ path('ecommerce_product_view_id', {'id': product.identifier}) }}">view</a>
    </li>
  {% endfor %}
  </ul>
{% else %}
  no products found
{% endif %}

{% endblock %}
